<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=
    , initial-scale=1.0" />
  <style>
    .chartBox {
      width: 800px;
      /* padding: 20px; */
    }
    .title{
      text-align: center;
    }
    </style>
	<title>Puppy Bowl!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!--------------------------------------------------------------- Nav Bar Begin-------------------------------------------------------------------->
  <!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Puppy Bowl Dashboard</span>
  </div>
</nav>
<!--------------------------------------------------------------- Nav Bar End-------------------------------------------------------------------->

<!-------------------------------------------------------------Design Container Begin --------------------------------------------------------->
	<div class="container-fluid">
    <div class = "row">
      <div class = "col-md-4">

        <div class="data"></div>
<!---------------------------------------------------------Drop Down Begin------------------------------------------------------>
          <select id="team_select">
            <option value="ARI">Arizona Cardinals</option>
            <option value="ATL">Atlanta Falcons</option>
            <option value="BAL">Baltimore Ravens</option>
            <option value="BUF">Buffalo Bills</option>
            <option value="CAR">Carolina Panthers</option>
            <option value="CHI">Chicago Bears</option>
            <option value="CIN">Cininnati Bengals</option>
            <option value="CLE">Cleveland Browns</option>
            <option value="DAL">Dallas Cowboys</option>
            <option value="DEN">Denver Broncos</option>
            <option value="DET">Detroit Lions</option>
            <option value="GB">Green Bay Packers</option>
            <option value="HOU">Houston Texans</option>
            <option value="IND">Indianapolis Colts</option>
            <option value="JAX">Jacksonville Jaguars</option>
            <option value="KC">Kansas City Chiefs</option>
            <option value="LV">Las Vegas Raiders</option>
            <option value="LAC">Los Angles Chargers</option>
            <option value="LAR">Los Angles Rams</option>
            <option value="MIA">Miami Dolphins</option>
            <option value="MIN">Minnesota Vikings</option>
            <option value="NE">New England Patriots</option>
            <option value="NO">New Orleans Saints</option>
            <option value="NYG">New York Giants</option>
            <option value="NYJ">New York Jets</option>
            <option value="PHI">Philadelphia Eagles</option>
            <option value="PIT">Pittsburgh Steelers</option>
            <option value="SF">San Francisco 49ers</option>
            <option value="SEA">Seattle Seahawks</option>
            <option value="TB">Tampa Bay Buccaneers</option>
            <option value="TEN">Tennessee Titans</option>
            <option value="WAS">Washington Commanders</option>
          </select>
        </div>
<!---------------------------------------------------------Drop Down End------------------------------------------------------>

<!-----------------------------------------------------------purely for the id = "type"--------------------------------------->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Team Demographic Info</h3>
            </div>
            <div id="sample-metadata" class="panel-body">
              <p><strong>Team Logo:</strong> </p>
              <img id="team_logo" width = "150" height = "150">
              <p><strong>Team Name</strong></p>
              <img id="team_name" width = "300" height = "150">
              <p id="stadium_name"></p>
              <p id="capacity"></p>
              <p id="city_state"></p>
              <p id="turf_type"></p>
              <p id="stadium_type"></p>
            </div>
          </div>
        </div>
        
<!-- -------------------------------------------------------------Chart JS Begin -------------------------------------------------------------->
            <!-- <div class="chartBox" style="position: relative">
              <div>
                <canvas id="myChart"></canvas>
              </div>
            </div> -->
<!-- -------------------------------------------------------------Chart JS End -------------------------------------------------------------->
      <div class = "col-md-8">
          <div id="scatter"></div>
          <div class="well">
          </div>
          <div id="bar"></div>
      </div>
    </div>
 
<!-------------------------------------------------------------Design Container End --------------------------------------------------------->
  <div class="row">
    <div class="col-md-12">        
          <div class="chartBox" style="position: relative">
            <div>
              <canvas id="myChart"></canvas>
            </div>
          </div>
    </div>
  </div>  
</div>
<!-------------------------------------------------------------Scripts----------------------------------------------------------------------->
	<script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script src="/static/js/app.js"></script>
<!-------------------------------------------------------------Scripts----------------------------------------------------------------------->
</body>

</html>