<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <div class="chartBox">
      <style>
        .chartBox {
          width: 400px;
          padding: 20px;
        }
      </style>
      <div class="ct-chart ct-perfect-fourth"></div>
      <div class="data"></div>
      <select id="team_select">
        <option value="BUF">Buffalo</option>
        <option value="TB">Tampa Bay</option>
      </select>

      <select id="type">
        <option value="HomeScore">Home Team Score</option>
        <option value="Attendance">Attendance</option>
      </select>
      <!--------------------------------------Drop down----------------------------->
      <!-- <div class="selectBox">
        <select>
          <option value="1">Coffee</option>
          <option value="2">Espresso</option>
          <option value="3">Cappucino</option>
        </select>
      </div> -->
      <!--------------------------------------Drop down End----------------------------->
      <!-- <canvas id="myChart">
        </script>
        <script>
          const myChart = new Chart(document.getElementById("myChart"), config);
        </script>
      </canvas> -->
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script src="/static/js/app.js"></script>
  </body>
</html>
