<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <!-------------------------------- Top Bar Begin ----------------------------------------------------->
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
      </div>
    </nav>

    <!-------------------------------- Top End Begin ----------------------------------------------------->

    <!-------------------------------- Chart Begin ----------------------------------------------------->
    <div class="ct-chart"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure neque, dolore cumque
      sit adipisci aperiam placeat rerum eius quibusdam, obcaecati voluptates quasi
      consectetur, in voluptatibus tempore blanditiis nihil deserunt sunt necessitatibus
      culpa ut et. At ex dolor recusandae quae qui. Temporibus ab doloribus a optio
      laborum dolorum quaerat cum est?
    </p>

    <!-------------------------------- Chart End ----------------------------------------------------->
    <!-------------------------------- CDN BEGIN ----------------------------------------------------->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/js/app.js"></script>
    <!-------------------------------- CDN End ----------------------------------------------------->
  </body>
</html>
