/* CSS File for Module 14 - Plot.ly */

.body {
    background-color: #7FB3D5;
}

.panel-default > .panel-heading-custom {
    text-align: center;
}

.well {
    background-color: white;
    color: black;
    font-weight: bold;
}

.chartBox {
    width: 800px;
    /* padding: 20px; */
  }
  .title{
    text-align: center;
  }

  .placeholder {
    background-image: url('/Flask_app/resources/team_logo.png')
  }